@font-face {
  font-family: 'Bungee, cursive';
  src: local("Bungee, cursive"), url("https://fonts.googleapis.com/css?family=Bungee"); }

@font-face {
  font-family: 'Montserrat, sans-serif';
  src: url("https://fonts.googleapis.com/css?family=Montserrat"); }

@keyframes downbounce {
  0%, 100% {
    transform: translateY(0); }
  20%, 80% {
    transform: translateY(-15px); }
  40%, 60% {
    transform: translateY(0px); } }

.body {
  background-color: #36413e;
  color: #e1e1e4;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px; }

footer {
  text-align: center;
  background-color: #19c2bc;
  color: #36413e;
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px; }
  footer p {
    margin: 0px;
    padding: 0px; }

#portfolioProjects a {
  margin: 0 auto;
  height: 75px;
  padding: 10px;
  font-family: "Bungee";
  font-weight: 400;
  font-size: 34px;
  border-radius: 15px;
  color: #36413e;
  background-color: #19c2bc;
  text-decoration: none;
  margin-top: 20px; }

#portfolioProjects {
  background-color: #d06868;
  margin: 0px;
  padding: 0px; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media screen and (min-width: 320px) and (max-width: 428px) {
  #mp {
    width: 300px;
    margin: 0 auto; }
  .myquote, .socialMedia, .downArrow {
    visibility: hidden; }
  .socialMedia {
    visibility: hidden; }
  nav a {
    visibility: hidden; }
  button {
    float: right;
    background-color: transparent;
    border: none; }
  #portfolioProjects h1, #home-about h1 {
    font-size: 18px;
    text-align: center; }
  #portfolioProjects h2 {
    font-size: 16px;
    text-align: center; }
  #portfolioProjects a {
    height: 25px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding: 4px; }
  .hamburgerMenu {
    visibility: visible; }
  .row, .col {
    width: 100vw; }
  .projectImg {
    height: 150px;
    border-radius: 10px;
    margin: 0 auto !important;
    width: 150px; }
  .img-circle {
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    width: 250px; }
  #home-about p {
    font-size: 12px; }
  #portfolioProjects {
    background-color: #d06868;
    width: 100%;
    margin-bottom: 75px; }
  #aboutHeader h3, #about h1 {
    text-align: center; } }

@media screen and (min-width: 429px) and (max-width: 768px) {
  #home-about p {
    font-size: 12px; }
  #mp {
    width: 300px;
    margin: 0 auto; }
  .myquote, .socialMedia, .downArrow {
    visibility: hidden; }
  .socialMedia {
    visibility: hidden; }
  nav a {
    visibility: hidden; }
  #portfolioProjects h1, #home-about h1 {
    font-size: 18px;
    text-align: center; }
  #portfolioProjects h2 {
    font-size: 16px;
    text-align: center; }
  #portfolioProjects a {
    height: 25px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding: 4px; }
  .hamburgerMenu {
    visibility: visible; }
  .projectImg {
    height: 150px;
    border-radius: 10px;
    margin: 0 auto !important;
    width: 150px; }
  .img-circle {
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    width: 150px; }
  #home-about p {
    font-size: 12px; }
  #portfolioProjects {
    background-color: #d06868;
    width: 100%;
    margin-bottom: 75px; }
  #aboutHeader h3, #about h1 {
    text-align: center; }
  .logo {
    margin: 0px;
    height: 300px;
    padding: 0px; } }

@media screen and (min-width: 993px) and (max-width: 2400px) {
  .email, .phone {
    width: 50px;
    display: inline-block; }
  .myquote, .socialMedia, .downArrow, .nav a {
    visibility: visible; }
  .hamburgerMenu {
    visibility: hidden; }
  .socialMedia:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .socialMedia {
    margin: 50px;
    width: 50px; }
  .nav a {
    font-family: 'Bungee', cursive;
    font-size: 28px;
    margin: 10px 50px;
    color: #e1e1e4; }
  .nav a:hover {
    text-decoration: none;
    color: #19c2bc;
    transform: translateY(-10px); }
  .img-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%; }
  #mp {
    width: 500px;
    margin-top: 0px; }
  #portfolioProjects {
    margin: 10px; }
  #portfolioProjects h1, #home-about h1 {
    margin-bottom: 100px;
    padding-top: 100px;
    font-family: "Bungee";
    font-weight: 400;
    font-size: 48px; }
  .projectImg {
    height: 310px;
    float: left;
    margin-top: 10px; }
  #myProjects h2, #myProjects p {
    float: right;
    width: 575px; }
  .body {
    background-color: #36413e;
    color: #e1e1e4;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px; }
  article {
    margin-bottom: 20px; }
  nav .active {
    color: #d06868; }
  .skills {
    text-align: center; }
  #portfolioHeader {
    height: 525px; }
  .header {
    height: 100vh; }
  .downArrow {
    width: 200px;
    height: 200px;
    animation-name: downbounce;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }
  #portfolioProjects, #home-about {
    height: 100vh;
    padding-left: 0;
    padding-right: 0; }
  #projectInfo, .logo {
    text-align: center;
    margin: 0 auto;
    width: 1000px; }
  #portfolioProjects h1, #home-about h1 {
    text-align: center;
    margin-bottom: 100px;
    font-family: "Bungee";
    font-weight: 400;
    font-size: 48px; }
  #contact h1, #about h1, #myProjects h1, #skillSet h1 {
    text-align: center;
    margin: 10px;
    font-family: "Bungee";
    font-weight: 400;
    font-size: 48px; }
  .nav {
    text-align: center; }
  .socialIcons {
    margin: -100px; }
  .projectTitle {
    color: #d06868; }
  #portfolioProjects img {
    border-radius: 10px; }
  #portfolioProjects h2 {
    text-align: center;
    font-size: 26px; }
  #portfolioProjects a:hover {
    background-color: #36413e;
    color: #19c2bc;
    text-decoration: none; }
  #aboutHeader {
    height: 50vh; }
  #home-about p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 0px; }
  .workTitle {
    text-align: center;
    margin-bottom: 30px; }
  .pagination-centered h3 {
    font-size: 42px;
    margin-top: 10px; }
  .repoLink {
    text-decoration: none;
    font-style: italic;
    color: #d06868; }
  .repoLink:visited {
    text-decoration: none;
    color: #d06868; }
  #myProjects p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px; }
  .img-circle-about {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block; }
  .form-group input, .form-group textarea {
    width: 500px;
    justify-content: center; }
  .msgBtn {
    background-color: #d06868;
    color: #e1e1e4;
    font-family: "Bungee";
    font-weight: 400;
    font-size: 18px;
    text-align: center; }
  .contact-form {
    margin: auto;
    display: block; }
  #about {
    background-color: #d06868; }
  .languages, .tools, .server {
    background-color: #d06868;
    color: #36413e;
    text-align: center;
    font-family: "Bungee";
    font-weight: 400;
    font-size: 48px;
    height: 370px;
    width: 370px;
    border-radius: 25px;
    margin-bottom: 20px;
    margin: 0 auto; }
  .projectImg-right {
    height: 310px;
    border-radius: 10px;
    float: right; }
  .projectImg {
    height: 310px;
    border-radius: 10px; }
  .projectInfo-right {
    float: left; }
  .tools {
    background-color: #19c2bc; }
  #about h1 {
    margin-top: 10px; }
  #about p {
    margin-top: 20px;
    width: 500px;
    margin: 10 auto;
    display: block;
    font-size: 22px; }
  #about img {
    float: right; }
  #about {
    height: 500px; }
  #contact .socialMedia {
    margin: 50px; }
  .contactInfo img {
    margin-left: 50px;
    margin-top: 10px; }
  .contactInfo {
    font-size: 22px; }
  .contactInfo img:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  header h3 {
    margin-top: 10px;
    font-style: italic; }
  ul {
    font-size: 26px;
    text-align: left;
    color: #e1e1e4;
    visibility: hidden; }
  .tools:hover ul, .server:hover ul, .languages:hover ul, .tools:hover ul {
    visibility: visible; }
  .tools ul {
    color: #36413e; } }
