<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <title> Portfolio</title>     
    <link rel=stylesheet href='../css/main.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body class="body">   
<div class="container">
<!--Header section for nav -->
<header>
    <div class="container-fluid">
        <nav class="nav justify-content-center home-nav">
            <a  href="../index.html">Home</a>
            <a href="portfolio.html">Portfolio</a>
            <div class="about-logo">
                <img src="../assets/portfolio_logo.png" alt='logo' id='mp' >
            </div>
            <a class="active" href="about.html">About Me</a>
            <a href="contact.html">Contact Me</a>
        </nav>
        <div id="mobileNav" class="overlay">
            <button type="button" class="hamburgerMenu">
                <img src="../assets/hamburger-menu.png" alt="hamburger" class="hamburgerMenu "></button>
            <div class="overlay-content">
                <a href="../index.html">Home</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </div>
 </header>
<!--Section to hold all of the project articles -->

<section class="container-fluid" id="myProjects">
    <h1 class="workTitle">Portfolio</h1>
    <div class="row">
        <article >
            <img src="../assets/imageGallery.jpg" alt="Responsive Image Gallery" class="projectImg">
                <h2 class="projectTitle">Responsive Image Gallery</h2>
                <p class="projectInfo">
                This project is a Responsive Image Gallery. It uses an XHR request to load data from Unsplash's API. This is a choosen query search with the topic of kittens. This gallery uses animations whenever the cat icon is clicked and whenever they photo is hovered on. I really enjoyed doing this website because I liked working with animations to get the exact look and feel that was wanted by the instructor. While I have had some issues really understanding how media queries work before this site, I finally was able to grasp the concept with this site. The site is responsive so it works on mobile, tablets and desktops. If you would like to view this site you can go to 
                <a class="repoLink" href="https://mpeck99.github.io/ResponsiveImageGallery">this link.</a>
                </p> 

        </article>
    </div>
    <div class="row">

                <div class="col-12">
                    <img src="../assets/responsiveForm.jpg" alt="Responsive Form" class="projectImg-right">
                    <h2 class="projectTitle">Responsive Form</h2>
                    <p class="projectInfo-right">
                        This project is a Responsive Order Gallery. This project is to showcase my use of JavaScript to validate the user input forms. I also used JavaScript to auto update the order summary section as the user types based on the keypress event. This site is responsive working on a range of devices. I have also learned on working with and styling radio buttons to make the tshirt color and size options. Since I was struggling with the responsive side of things when creating this project I still have to fix an issue with its size on a desktop. If you would like to view this site you can go to 
                        <a class="repoLink" href="https://mpeck99.github.io/Responsive-Form">this link.</a>
                    </p>
            </article>
        </div>
       <div class="row">
            <article>
                <img src="../assets/movieSearch.jpg" alt="Movie Search" class="projectImg">
                <h2 class="projectTitle">Movie Search</h2>
                <p>
                    This project is a site that allows the user to search for a movie returning the movie poster. The user is allowed to search for a movie using the input box. Their response is then stored into a variable to add to the search query. The API I am calling the data from is The Movie Database. This was one of my first sites dealing with CSS. At the moment there are flaws in this CSS code that I plan on addressing when I have more time between other assignments. If you would like to visit this site you can go
                    <a class="repoLink" href="https://mpeck99.github.io/index.html">this link.</a>
                </p>
            </article>
    </div>
    <!--Div for rows of projects -->
</section>
</div> <!-- container wrapper -->

<footer class="container-fluid">
    <p>Morgan Peck</p>
    <p>mlpeck@fullsail.edu</p>
</footer>
<!--scripts for bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript" src="../javascript/mobileMenu.js"></script>

</body>

</html>