@import '../utils/_vars.scss';

.carousel-control-prev, .carousel-control-next{
    margin: auto 0 !important;
    width: 75px !important;
    height: 50px;
    background-color: $secondaryColor;
    color: $main;
}
.nav a.active{
    color: $thirdColor;
}
.carousel-item img{
    @include borderRad(10px);
}
#portfolioProjects, #home-about{
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

}
.img-circle, .img-circle-contact{
    width: 400px;
    height: 400px;
    @include borderRad(50%);
}
ol.carousel-indicators li{
    background-color: $secondaryColor;

}
ol.carousel-indicators li.active{
    background-color: $thirdColor;
}
#home-about{
    height: 100vh;
}
.socialMedia, .socialMediaContact{
    margin: 50px;
    width: 50px;
}
.myWork a:hover{
    background-color: $thirdColor;
    color: $main;
    text-decoration: none;
}
 .body{
        background-color: $main;
        color: $fontColor;
        width: 100%;
        @include secondFont('Montserrat', 400, 18px );
    }

footer{
        text-align: center;
        background-color: $secondaryColor;
        color: $main;
        margin-top: 20px;
        @include secondFont('Montserrat', 400, 16px );
        p{
            margin: 0px;
            padding: 0px;
        }
    }
   .row h1{
       width: 100%;

   }

    .myWork a{
        margin: 0 auto;
        height: 75px;
        padding: 10px;
        @include secondFont('Bungee', 400, 34px);
        @include borderRad(15px);
        color: $thirdColor;
        background-color: $secondaryColor;
        text-decoration: none;
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }

    #portfolioProjects{
        //background-color: $thirdColor;
        margin: 0 auto !important;
        padding: 0px;
        width: 100%;
    }

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media screen and (min-width:320px) and (max-width: 425px)
{
    //logo
     #mp{
        width: 200px;
        margin: 0 auto;
       float: right;
    }
    //header info
    .myquote, .socialMedia, .downArrow{
        visibility: hidden;
    }
    header{
        height: 50px;
    }
    //layout information
    .col-4{
        height: 0;
    }

    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .row, .col{
        width: 100vw;
    }
    //navigation/mobile menu
    nav a{
        visibility: hidden;
    }
     //mobile menu
    .opened{
//0background-color: rgba(208, 104, 104, 8);
        width:100vw;
        height: 100vw;
        transition: .5s;
        background-color: rgba(208, 104, 104,1);

    }

    .overlay-content{
        top: 20%;
        width: 100%;
        text-align: center;
        text-decoration: none;

    }
     .opened a{
        color: $main;
        @include secondFont('Bungee', 400, 18px);
        margin: 20px;
        justify-content: center;
        height: 100%;
        width:100%;
        text-decoration: none;
        position: relative;
        display: flex;
        direction: column;
        z-index: 1;
    }

    .overlay{
        width: 0%;
        height: 0%;
        float: left;
        margin: 10px;
        a{
            visibility: hidden;
        }
    }

    .hamburgerMenu{
        visibility: visible;
   }
   //buttons
    button{
        float: left;
        background-color: transparent;
        border: none;
    }

    .msgBtn{
        background-color: $thirdColor;
        color: $fontColor;
        @include secondFont('Bungee', 400, 12px);
        padding: 10px;
        margin: 0 auto;
       @include borderRad(8px);

    }
    //portfolio info
    #portfolioProjects h1, #home-about h1{
        font-size: 22px;
        text-align: center;
        margin: 10px;
    }

    #portfolioProjects h2{
        font-size: 16px;
        text-align: center;
        margin: 10px;
    }

    #portfolioProjects a{
        height: 25px;
        margin: 0 auto;
        font-size: 12px;
        text-align: center;
        padding: 4px;
    }

    #portfolioProjects {
       // background-color: $thirdColor;
        width: 100%;
       // margin-bottom: 75px;
        margin: 0 auto;
        //height: 650px;
        text-align: center;
    }

    #myProjects{
        //margin-top: 50px;
        text-align: center;
        font-size: 14px;
    }
    //images
    .img-circle, .img-circle-contact{
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        width: 250px;
    }

     img.email, img.phone {
        width: 50px;
        margin: 10px;
        text-align: center;
    }
    #home-about {
        text-align: center;
    }
    .socialMediaContact{
        visibility: visible;
        width: 50px;
        margin: 20px;
    }
    #portfolioProjects img, #myProjects img{
        height: 150px;
        @include borderRad(10px);
        margin: 0 auto !important;
        width: 150px;
        text-align: center;
    }
    //about information
    #home-about p, #about p{
        font-size: 12px;
        text-align: justify;
        padding: 10px;
    }
    #aboutHeader h3, #about h1 {
        text-align: center;
    }

    #aboutLogo{
        width: 300px;
        margin-top: 20px;
    }
    ul{
        text-align: left;
        @include secondFont('Montserrat', 400, 14px );
        color: $fontColor;
    }

    .skills{
        background-color: $thirdColor;
        color: $main;
        text-align: center;
        margin: 0 auto;
    }

    .about p{
        font-size: 14px;
        justify-content: center;

    }

    .skills p{
        @include secondFont('Montserrat', 400, 14px );
    }

    .skills h1{
        @include secondFont('Bungee', 400,18px);
        padding: 10px;
        color: $fontColor;
        text-align: center;
    }

    //contact
    #contact p{
        font-size: 14px;
        text-align: center;
    }
    #contact h1{
        text-align: center;
    }
   .form-group{
       width: 275px;
       margin: 10px;
   }
   .myWork a{
       font-size: 22px;
       width: 200px;
       text-align: center;
       height: auto;
   }

}
//tablet
@media screen and(min-width: 428px) and (max-width: 768px)
{
    //logo
    #mp{
        width: 400px;
        float: right;
    }
    .logo{
        text-align: center;
    }
    //header info
    .myquote, .socialMedia, .downArrow{
        visibility: hidden;
    }
    header{
       height: 200px;
    }
  //layout

    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .col-md-6{
   text-align: center;
    }
    //navigation/mobile menu
    nav a{
        visibility: hidden;
    }
    button{
        float: right;
        background-color: transparent;
        border: none;
        color: transparent;

    }
    .opened{
        //background-color: rgba(208, 104, 104, 8);
        width:100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        transition: .5s;

    }

    .overlay-content{
        position: relative;
        top: 20%;
        width: 100%;
        text-align: center;
        text-decoration: none;
        height: 100vh;
    }

    .overlay{
        width: 0%;
        height: 0%;
        float: left;
        margin: 10px;
        a{
            visibility: hidden;
        }
    }

    .opened a{
        color: $fontColor;
        @include secondFont('Bungee', 400, 36px);
        text-align: center;
        text-decoration: none;
        width: 10%;
    }
    .hamburgerMenu{
        visibility: visible;
        width: 50px;
        margin: 10px;
        height: 50px;


   }
    //portfolio
   #portfolioProjects h1, #home-about h1{
        font-size: 28px;
        text-align: center;
    }

    #portfolioProjects h2{
        font-size: 22px;
        text-align: center;
        margin: 10px;
    }

    #portfolioProjects a{
       // height: 40px;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
       // padding: 4px;
    }
    #portfolioProjects {
        //background-color: $thirdColor;
        width: 100%;
        margin: 0 auto;
       // height: 975px;
        text-align: center;
    }
    button{
        float: left;
    }

    #myProjects{
        text-align: center;
        font-size: 14px;
    }
    //images
    .img-circle{
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        width: 250px;
        float: right;
    }

    .img-circle-contact{
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        width: 250px;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    img.email, img.phone {
        width: 50px;
        margin: 10px;
        text-align: center;
    }

    .socialMediaContact{
        visibility: visible;
        width: 50px;
        margin: 20px;
    }

    #portfolioProjects img, #myProjects img{
        height: 250px;
        @include borderRad(10px);
        margin: 0 auto !important;
        width: 250px;
    }

    //contact page
    #contact h1{
        text-align: center;
    }

    .form-group{
        width: 500px;
    }




//about info
    #home-about p{
        font-size: 18px;
        margin-top: 10px;
    }

    #aboutHeader h3, #about h1 {
        text-align: center;
    }

    #aboutLogo{
        width: 300px;
        margin-top: 20px;
    }

    ul{
        @include secondFont('Montserrat', 400, 14px );
        color: $fontColor;
        margin: 10px;
    }

    .skills{
        background-color: $thirdColor;
        color: $main;
        text-align: center;
        margin: 0 auto;
    }

    .about p{
        font-size: 14px;
        text-align: center;
    }
    .skills p{
        @include secondFont('Montserrat', 400, 18px );
    }

    .skills h1{
        @include secondFont('Bungee', 400,22px);
        text-align: center;
        color: $fontColor;
    }

    #contact p{
        font-size: 14px;
        text-align: center;
    }
//BUTTONS
    .msgBtn{
        background-color: $thirdColor;
        color: $fontColor;
        @include secondFont('Bungee', 400, 18px);
        text-align: center;
    }


}
@media screen and(min-width: 993px)
{

    //layout
    .body{
        background-color: $main;
        color: $fontColor;
        @include secondFont('Montserrat', 400, 18px );
    }
    article{
        margin-bottom: 20px;
    }
    //contact
    .email,.phone{
        width: 50px;
        display: inline-block;
    }
    //header nav/mobile nav
     .myquote, .socialMedia,.downArrow, .nav a{
        visibility: visible;
    }

    header h3{
        margin-top: 10px;
        font-style: italic;
    }

    .hamburgerMenu, .overlay{
       visibility: hidden;
   }

   .nav a{
        @include navFont;
        font-size: 28px;
        margin: 30px 60px;
        color: $fontColor;
    }

    .nav a:hover{
        text-decoration: none;
        color: $secondaryColor;
        transform: translateY(-10px);
    }

    .socialMedia:hover{
        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }




    #mp{
        width: 500px;
        margin-top: 20px;
    }

   //portfolio
    #portfolioProjects{
        margin: 10px;
    }
    #portfolioProjects h1, #home-about h1{
        margin-bottom: 100px;
        padding-top: 100px;

    }

    #myProjects h2, #myProjects p{
        float: right;
        width: 575px;
    }

    #portfolioHeader{
        height: 525px;
    }

    .header{
        height: 100vh;
    }

    .downArrow{
        width: 200px;
        height: 200px;
        //margin-top: 50px;
        animation-name: downbounce;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    #projectInfo, .logo{
        text-align: center;
        margin: 0 auto;

    }

    #portfolioProjects h1, #home-about h1, {
        text-align: center;
        margin-bottom: 100px;
        @include secondFont('Bungee', 400, 48px);
    }
    #contact h1, #about h1, #myProjects h1, #skillSet h1{
        text-align: center;
        margin: 10px;
        @include secondFont('Bungee', 400, 48px);
    }

    .nav{
        text-align: center;
    }

    .socialIcons{
        margin: -100px;
    }

    .projectTitle{
        color: $secondaryColor;
    }

    #portfolioProjects h2{
        text-align: center;
        font-size: 26px;
    }

    .projectOverlay{
        visibility: hidden;
    }

    #portfolioProjects img:hover .projectOverlay{
            visibility: visible;
    }

    #aboutHeader{
        height: 50vh;
    }

    #home-about p{
        @include secondFont('Montserrat', 400,26px);
        margin: 20px 0 0 0;
        //margin-left: 0px;
    }

    .workTitle{
        text-align: center;
        margin-bottom: 30px;
    }

    .pagination-centered h3{
        font-size: 42px;
        margin-top: 10px;
    }

    .repoLink{
        text-decoration: none;
        font-style: italic;
        color: $thirdColor;
    }

    .repoLink:visited{
        text-decoration: none;
        color: $thirdColor;
    }

    #myProjects p{
     @include secondFont('Montserrat', 400, 18px);
    }

    .img-circle-about{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }

   .form-group input, .form-group textarea{
        width: 600px;
        justify-content: center;
   }

   .form-group textarea{
       height: 300px;
   }

   .msgBtn{
        background-color: $thirdColor;
        color: $fontColor;
        @include secondFont('Bungee', 400, 18px);
        text-align: center;
        padding: 10px;
        display: flex;
        margin: 0 auto;
       @include borderRad(8px);
   }

   .msgBtn:hover{
        background-color: $secondaryColor;
        color: $main;
        text-decoration: none;
   }

    .projectImg-right{
        height: 310px;
        @include borderRad(10px);
        float: right;
    }

    .projectImg{
        height: 310px;
        @include borderRad(10px);
        float:left;
    }

    .projectInfo-right{
        float: left;
    }

    //aboout
    #about h1{
        margin-top: 10px;
    }

    .tools{
         @extend .languages;
        background-color: $secondaryColor!important;
    }

    #about{
       background-color: $thirdColor;

   }

    .languages, .server{
        background-color: $thirdColor;
        color: $main;
        text-align: center;
        @include secondFont('Bungee', 400,48px);
        height: 370px;
        width: 370px;
        border-radius: 25px;
       // margin-bottom: 20px;
        margin: 0 auto;
    }

    #about p{
       // margin-top: 20px;
        width: 500px;
        margin: 10px auto;
        display: block;
        font-size: 22px;
    }

    ul {
        font-size: 26px;
        color: $fontColor;
        visibility: hidden;
        list-style: none;


    }
    li{
        text-align: center;
        margin-top: 10px;
        margin-left: -50px;
    }
    .tools:hover, .server:hover, .languages:hover{
        ul{
            visibility: visible;
        }
    }

    .tools ul{
        color: $main;
    }

    .skills{

        width: 370px;
        text-align: center;
    }

    #about img{
        float: right;
    }

    #about{
        height:500px;
    }
    //contact info
    #contact .socialMedia{
        margin: 50px;
    }

    .contactInfo img{
        margin-left: 50px;
        margin-top: 10px;
    }

    .contactInfo {
        font-size: 22px;
    }

    .contactInfo img:hover{
        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    form{
        margin-top: 150px;
        margin-left: 50px;
        width: 600px
    }


}
